# This file controls what file are to be put on classpath or command line.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  SUBJECT [ [!] CONDITION [AND|OR] ]*
# 
# where SUBJECT: 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which add all jar and zip files from. 
#   ends with "/*" is a directory from which add all unconsidered jar and zip files from.
#   Containing = are used to assign system properties.
#   all other subjects are treated as files to be added to the classpath.
#
# Subjects may include system properties with $(propertyname) syntax. 
#
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# CONDITION is one of:
#   always
#   never
#   available classname
#   java OPERATOR version
#   nargs OPERATOR number
#   OPERATOR := one of "<",">","<=",">=","==","!="
#
# CONTITIONS can be combined with AND OR or !, with AND being the assume
# operator for a list of CONDITIONS.
# Classpath operations are evaluated on the fly, so once a class or jar is
# added to the classpath, subsequent available conditions will see that class.
#

$(jetty.class.path)                             	always

org.apache.commons.logging.LogFactory=org.mortbay.log.Factory AND ! property org.apache.commons.logging.LogFactory ! property org.apache.commons.logging.Log

# Debian jars home
java.lib.home=usr/share/java			 			always
tomcat.lib.home=usr/share/tomcat5.5/common/lib/ always

# Do not validate xml files by default.
# Disabled because servlet-2.3.jar references an XSD which is not longer
# hostet by IBM. This should generally make the startup faster.
property=org.mortbay.xml.XmlParser.NotValidating=true

# The main class to run
org.mortbay.jetty.Server.class                   

# The default configuration files
#/etc/admin.xml                                 	nargs == 0
$(config.home)/jetty.xml                     		always
# Set the jetty classpath
# Always use the >1.2 version because version matching does not work with kaffe
$(jetty.home)/lib/org.mortbay.jetty.jar          
#$(jetty.home)/lib/org.mortbay.jetty.jar          java >= 1.4
#$(jetty.home)/extra/lib/org.mortbay.jetty-jdk1.2.jar   java < 1.4 AND java >= 1.2
$(jetty.home)/lib/org.mortbay.jmx.jar            
$(java.lib.home)/servlet-api-2.4.jar                 
$(java.lib.home)/jsp-api-2.0.jar                 

# Always use xercesImpl from debian if it is present
$(java.lib.home)/xercesImpl.jar                  ! available org.apache.xerces.jaxp.DocumentBuilderImpl.class

# Add the XML support jars if needed.
$(java.lib.home)/xmlParserAPIs.jar               ! available org.w3c.dom.DOMError
$(java.lib.home)/xml-apis.jar                    ! available org.w3c.dom.Document

# Set the classpath for the supporting cast
$(java.lib.home)/commons-logging.jar             ! available org.apache.commons.logging.LogFactory
$(java.lib.home)/commons-el.jar                  ! available org.apache.commons.el.ExpressionEvaluatorImpl
$(java.lib.home)/jmxri.jar                       ! available javax.management.MBeanServer
$(tomcat.lib.home)/jasper-runtime.jar            ! available org.apache.jasper.Constants
$(tomcat.lib.home)/jasper-compiler.jar           ! available org.apache.jasper.JspCompilationContext
$(java.lib.home)/ant-1.6.jar                     ! available org.apache.tools.ant.BuildException
$(java.home)/lib/tools.jar                       ! available com.sun.tools.javac.Main
$(java.home)/../lib/tools.jar                    ! available com.sun.tools.javac.Main

# Add anything in ext we have not yet considered.
$(jetty.home)/ext/*                  
